.badge {
  background-color: #ff612a;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.badge-sm {
  background-color: #ff612a;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  display: flex;
}
