.screen-header {
  padding: var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.screen-header__title {
  color: #212121;
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
